nav {
    height: 2%;
}

nav.nav {
    /*display: flex;*/
    /*height: 10%;*/
    /*width: 100%;*/
    /*position: absolute;*/
    position: fixed;
    margin: 3rem;
    font-size: 4rem;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: calc(100% - 4rem);
    vertical-align: middle;
    z-index: 42;
}

.nav__mobile {
    display: inline-flex;
    position: relative;
    justify-content: center;
    text-align: center;
    list-style: none;
    height: 100%;
    width: 100vw;
    margin: 9rem 5rem 0 -3rem;
    padding: 1rem;
    left: 7rem;
    top: 6.7rem;
    transition: all 0.1ms ease;
    /*position: absolute;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-direction: column;*/
    /*bottom: 100%;*/
}

.nav__mobile-logout {
    position: absolute;
    top: -5rem;
    left: -7rem;
    width: 100vw;
}

.nav__mobile-login {
    position: absolute;
    top: -5rem;
    left: -7rem;
    width: 100vw;
}

.nav__links {
    display: none;
    /*height: 100vh;*/
    /*width: 100vw;*/
    list-style: none;
    margin: 3rem;
    top: 1rem;
    position: relative;
    justify-content: flex-end;
}


.nav__login,
.nav__request,
.nav__feed,
.nav__profile,
.nav__logout {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #53b0ae;
    background-position: center;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    padding: 3rem 3rem 3rem 3rem;
    cursor: pointer;
    margin: auto;
    text-transform: uppercase;
    justify-content: flex-end;
    transition: all 0.1s ease-out;
}


.nav__request:hover,
.nav__feed:hover,
.nav__profile:hover {
    background-color: rgb(53, 112, 111);
    color: turquoise;
}

.nav__login:hover {
    background-color: rgb(75, 159, 159);
    color: rgba(126, 213, 111, 0.8);
}

.nav__logout:hover {
    background-color: rgb(75, 159, 159);
    color: rgba(203, 36, 36, 0.32);
}

.nav__mobile-menu {
    display: flex;
    margin: 2rem 2rem -.3rem 1rem;
    padding: .4rem .5rem;
    font-size: 2rem;
    border-radius: .5rem;
    border-top-color: rgba(128, 128, 128, 0.71);
    border-bottom-color: rgba(128, 128, 128, 0.97);
    border-right-color: rgb(0, 0, 0);
    border-left-color: rgb(238, 238, 245);
    color: rgba(238, 238, 245, 0.63);
    background-color: rgba(70, 134, 129, 0.45);
    cursor: pointer;

}

/*.nav__mobile-menu::after {*/
/*    background-color: rgba(83, 176, 174, 0.53);*/
/*}*/

.nav__mobile-menu:hover {
    /*transform: translateY(-2px);*/
    background-color: rgba(70, 134, 129, 0.37);
}


.nav__mobile-menu:active {
    color: #fff;
    transform: translateY(-1px);
    /*background-color: rgb(53, 112, 111);*/
    border: 1.5px solid rgba(2, 12, 21, 0.36);
}

.nav__mobile-menu::after {
    transform: scaleX(1) scaleY(1);
    opacity: 0;
}

@media (min-width: 43rem ) {
    /*.logo {*/
    /*    display: block;*/
    /*    justify-content: flex-end;*/
    /*    !*top: 1rem;*!*/
    /*    !*left: 1rem;*!*/
    /*    !*vertical-align: middle;*!*/
    /*}*/
    .nav__links {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 50%;
        gap: 4rem;
        padding: 3rem;
        margin: 3.5rem 1rem 1.5rem;
        border: none;
        cursor: pointer;
        list-style: none;
        text-align: center;
        position: relative;
        height: .1rem;
        top: -3.4rem;

    }

    .nav__mobile-menu {
        display: none;
    }

    /*.main-header__logo img {*/
    /*    position: relative;*/
    /*    justify-content: center;*/
    /*    height: 10rem;*/
    /*    left: 1rem;*/
    /*    top: .6rem;*/
    /*    !*transition: all 1s ease-out;*!*/
    /*}*/
    .nav__mobile-logout {
        position: relative;
        display: inline-flex;
        top: -5rem;
        margin: 2rem;
        width: 100vw;
    }

    .nav__mobile-logout,
    .nav__request,
    .nav__feed,
    .nav__profile,
    .nav__logout {
        display: inline-flex;
        flex-direction: row;
        position: relative;
        top: -2rem;
        gap: .4rem;
        left: calc(100% - 53rem);
        margin: 3.8rem 1rem 0 0;
        border-radius: .5rem;
    }

    .nav__profile:hover,
    .nav__feed:hover,
    .nav__request:hover {
        background-color: rgba(53, 112, 111, 0.43);
    }

    .nav__logout:hover,
    .nav__logout:active {
        border: rgba(231, 148, 148, 0.44) solid;
        color: rgba(203, 36, 36, 0.32);
    }

    .nav__mobile-login,
    .nav__login,
    .nav__feed {
        display: inline-flex;
        flex-direction: row;
        position: relative;
        top: -2rem;
        left: calc(100% - 20rem);
        margin: 4rem 2rem 0 0;
        border-radius: .5rem;
    }

    .nav__login:hover,
    .nav__login:active {
        border: rgba(77, 204, 68, 0.78) solid;
        color: rgba(126, 213, 111, 0.8);

    }

    ul.nav__mobile {
        background-color: transparent;
        border: none;
        display: flex;
        position: absolute;
        flex-direction: row;
        margin: -3rem 1rem 1rem 0;
        padding: 0 0 0 0;
        /*padding: 0 0 5 0; before!*/
        left: calc(100% - 80rem);
        /*transition: all 1s ease;*/

    }

    .nav__login,
    .nav__request,
    .nav__feed,
    .nav__profile,
    .nav__logout,
    .nav__mobile {
        display: inline-flex;
        /*position: relative;*/
        flex-direction: row;
        text-decoration: none;
        justify-content: flex-end;
        text-align: end;
        background-color: #53b0ae;
        color: rgba(255, 255, 255, 0.61);
        font-size: 1.6rem;
        left: 2rem;
        right: 10rem;
        padding: 1.6rem 1rem;
        margin: 2rem .3rem 0 0;
        border: solid 1px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .nav__mobile {
        position: relative;
        display: flex;
        flex-direction: row;
        /*text-align: justify-all;*/
        bottom: 80%;
        top: 1.2rem;
        left: 82%;
        /*transition: all 1s ease;*/
    }
}