
.form-container {
    display: flex;
    flex-direction: column;
    /*position: fixed;*/
    padding: 10rem 2rem;
    align-items: center;
    justify-content: center;
    /*margin: 3rem;*/
    /*height: 20vh;*/
    /*text-align: center;*/
    /*width: 100vw;*/
    /*border-color: cornflowerblue;*/
    /*border: lightgray;*/
}

.form-container__title {
    color: #017273;
    margin: 1rem;
    font-size: 2rem;
}

p.form-container__p {
    color: darkturquoise;
}

.form-container__button,
.form-container p {
    margin: 2rem ;
    font-size: 1.6rem;
}

.form-container__button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.form-container label {
    font-weight: bold;
}

.form-container [id*="option-box"],
.form-container select,
p#option-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: .8rem 0 1rem;
    /*padding: -7rem 6rem;*/
    vertical-align: middle;
}

.form-container  input:focus,
.form-container select:focus {
    outline: none;
    background-color: #d8f3df;
    border-color: #2ddf5c;
}

.form-container label,
.form-container input,
.form-container select {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.form-container input,
.form-container select {
    border: 1px solid #ccc;
    padding: .4rem .7rem;
    font-size: 1.6rem;
    /*font: inherit;*/
}


/*.form-container__input {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border-style: solid;*/
/*    padding: 2rem;*/
/*    margin: 1rem;*/
/*}*/



/*.error {*/
/*    font-size: 1.6rem;*/
/*    color: #bb0000;*/
/*}*/

@media (min-width: 40rem) {
    .form-container {
        display: inline-flex;
        flex-direction: column;
        /*align-items: center;*/
        /*align-content: center;*/
        /*justify-content: center;*/
        margin: auto;
        width: 30rem;
        height: 50%;
    }

    .form-container__input {
        margin: auto;
        width: 25rem;
    }
}

/*@media screen and (min-width: 80rem) {*/
/*    .form-container {*/
/*        !*display: inline-flex;*!*/
/*        margin: 8rem;*/
/*        padding: 14rem;*/
/*        !*justify-content: center;*!*/
/*        width: 25rem;*/
/*        height: 90vh;*/
/*    }*/
/*    .form-container__input {*/
/*        margin: 1rem;*/
/*        width: 25rem;*/
/*    }*/
/*}*/

/*@media (min-width: 40rem) {*/
/*    .form-container {*/
/*        !*display: inline-flex;*!*/
/*        margin: 10rem;*/
/*        padding: 1rem;*/
/*        !*justify-content: center;*!*/
/*        width: 25rem;*/
/*        height: 150vh;*/
/*    }*/
/*    .form-container__input {*/
/*        margin: 1rem;*/
/*        width: 25rem;*/
/*    }*/
/*}*/
