.form-container {
    display: flex;
    flex-direction: column;
    padding: 10rem 2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container__title {
    color: #017273;
    margin: 1rem;
    font-size: 2rem;
}

p.form-container__p {
    color: darkturquoise;
}

.form-container__button,
.form-container p {
    margin: 2rem;
    font-size: 1.6rem;
}


.form-container__button {
    display: flex;
    justify-content: center;
}

.form-container label {
    font-weight: bold;
}

.form-container [id*="option-box"],
.form-container select,
p#option-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: .8rem 0 1rem;
    vertical-align: middle;
}

.form-container input:focus,
.form-container select:focus {
    outline: none;
    background-color: #d8f3df;
    border-color: #2ddf5c;
}

.form-container label,
.form-container input,
.form-container select {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.form-container input,
.form-container select {
    border: 1px solid #ccc;
    padding: .4rem .7rem;
    font-size: 1.6rem;
}


@media (min-width: 40rem) {
    .form-container {
        display: inline-flex;
        flex-direction: column;
        margin: auto;
        width: 30rem;
        height: 50%;
    }

    .form-container__input {
        margin: auto;
        width: 25rem;
    }
}
