.main-info {
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem 2rem 2rem;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
}

.main-info__div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 5rem;
}

.main-info__h1 {
    margin: 2rem;

}

.main-info__p {
    margin: 2rem 2rem 2rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.main-info__p2 {
    margin-top: 1rem;
}

@media (min-width: 40rem) {
    .main-info__div {
        width: 50%;
    }
}