.button {
    background-color: rgb(170, 184, 190);
    background-position: center;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    border-right-color: gray(50);
    border-left-color: gray(90);
    border-top-color: slategrey;
    border-bottom-color: rgb(206, 191, 191);
    color: rgba(53, 112, 111, 0.5);
    font-size: 1.6rem;
    padding: .5rem .5rem;
    cursor: pointer;
    /*margin: 1rem;*/
    text-transform: uppercase;
    max-width: 100%;
    /*justify-items: center;*/
}

/*width: 100%;*/
/*padding: 1rem 1rem;*/
/*cursor: pointer;*/


/*border-right-color: rgba(0, 0, 0, 0.68);*/

/*border-top-color: slategrey;*/



.button:hover {
    /*transform: translateY(-2px);*/
    background-color: rgb(75, 159, 159);
    color: rgba(255, 255, 255, 0.81);
}


.button:active {
    color: #fff;
    transform: translateY(-1px);
    /*background-color: rgb(53, 112, 111);*/
    /*border: 1.5px solid rgba(2, 12, 21, 0.36);*/
}

.button::after {
    transform: scaleX(1) scaleY(1);
    opacity: 0;
}

@media (min-width: 40rem) {
    .button {
        width: 50%;
    }
}