.button {
    background-color: rgb(170, 184, 190);
    background-position: center;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    border-right-color: gray(50);
    border-left-color: gray(90);
    border-top-color: slategrey;
    border-bottom-color: rgb(206, 191, 191);
    color: rgba(53, 112, 111, 0.5);
    font-size: 1.6rem;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    align-content: center;
}

.button:disabled:hover,
.button:disabled {
    color: dimgray;
    background-color: rgba(255, 0, 0, 0.37);
}

.button:hover {
    background-color: rgb(75, 159, 159);
    color: rgba(255, 255, 255, 0.81);
}


.button:active {
    color: #fff;
    transform: translateY(-1px);
}

.button::after {
    transform: scaleX(1) scaleY(1);
    opacity: 0;
}

@media (min-width: 40rem) {
    .button {
        width: 100%;
    }
}