.main-profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10rem 2rem 2rem 2rem;
    left: 1rem;
    max-width: 60rem;
    border: 5px solid rgba(35, 77, 84, 0.08);
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
}

.main-profile__edit-foto-div {
    padding: 1rem;
}

.main-profile__edit-personal,
.main-profile__edit-profile,
.main-profile__edit-pass,
.main-profile__edit-foto {
    background: #d9dfe1;
    border: 1px solid black;
    border-radius: 2rem;
    border-right: none;
    cursor: pointer;
    padding: .3rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

.main-profile__settings {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem -1rem;
    padding: 1rem;
    max-width: 20rem;
    font-size: 1rem;
}

.main-profile__edit-personal,
.main-profile__edit-profile,
.main-profile__edit-pass {
    margin: .2rem;

}

.main-profile__settings-p {
    padding: 1rem;
}

.main-profile__p {
    margin: 1rem;
}

#main-profile__p-0 {
    margin: 1rem;
}

.main-profile__edit-personal:active,
.main-profile__edit-profile:active,
.main-profile__edit-pass:active,
.main-profile__edit-foto:active {
    color: white;
    transform: translateY(-1px);
}

.main-profile__edit-personal::after,
.main-profile__edit-profile::after,
.main-profile__edit-pass::after,
.main-profile__edit-foto::after {
    transform: scaleX(1) scaleY(1);
    opacity: 0;
}

.main-profile__edit-personal:hover,
.main-profile__edit-profile:hover,
.main-profile__edit-pass:hover,
.main-profile__edit-foto:hover {
    background-color: rgba(35, 77, 84, 0.34);
}

.main-profile__replies {
    margin: 10rem;
    padding: 10rem;
}

#main-profile-del {
    margin: 1rem 2rem 0;
}

#main-profile__del-button {
    background: none;
    border: 2px solid white;
    border-bottom-color: red;
    font-size: 1.6rem;
    margin: 1rem 2rem 1rem;
    padding: .5rem 1rem;
}

#main-profile__del-button:hover {
    background-color: rgba(205, 92, 92, 0.89);
}

@media (min-width: 40rem) {
    #main-profile__del-button {
        width: 25%;
    }
}
