.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9rem;
    position: fixed;
    padding: 1rem 1rem;
    z-index: 41;
    background-color: rgb(106, 201, 199);
}


.main-header__link {
    position: relative;
    height: 10rem;
    left: 1rem;
    top: .6rem;
    z-index: 41;
}

.main-header__link img {
    height: 100%;
}