.form-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 18.5rem 9rem;
    width: 100%;
    height: 100%;
}

.form-upload__h4 {
    padding: 2rem;
    text-align: center;
}


button.button:nth-child(2) > svg:nth-child(1),
button.button:nth-child(3) > svg:nth-child(1) {
    margin: 0 0 0 .5rem;
}

.form-upload__page-container {
    display: flex;
    text-align: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.form-upload__image {
    display: flex;
    flex-direction: column;
    height: 15%;
    position: relative;
    margin: 1rem 0 2rem -14rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-upload__label {
    position: relative;
    height: 20rem;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-upload__p {
    margin: -1rem -10.6rem -2rem 1rem;
    justify-content: center;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    align-content: center;
}

.form-upload__preview {
    padding: -4rem;
    margin: -3rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#form-upload__id {
    display: flex;
    flex-direction: row;
    margin: 3rem -1rem 1rem 4rem;
    padding: 1rem 1rem 2rem 4rem;
    color: cadetblue;
    font-weight: bold;
}

#form-upload__submit {
    margin: 1rem
}