.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    /*border-color: cornflowerblue;*/
    /*border: lightgray;*/

}

.form-container__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    padding: 2rem;
    margin: 0;
}
.gen-error {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}